{% extends 'base.html' %}
{% block title %}<title>Payment Failed </title>{% endblock %}
{% block content %}
{% load static %}
<style>
._failed{ border-bottom: solid 4px red !important; }
._failed i{  color:red !important;  }

._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px;
    color: #28a745;
}

._success h2 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

._success p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: 500;
}
</style>


<div class="hero-wrap js-fullheight" style="background-image: url({% static 'assets/images/Payment_failed.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax="properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <hr>
                </p>
                <h1 class="mb-3 bread" style="background-color: black;" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Payment Failed! ❌</h1>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success _failed">
                 <i class="fa fa-times-circle" aria-hidden="true"></i>
                <h2> Your payment failed </h2>
        <a href="/"> Try Again </a> 
     
        </div> 
    </div> 
</div> 

</div> 

{% endblock %}